{% extends 'base.html' %}
{% load static %}

{% block title %}Home - The Society of Awtar Center{% endblock %}
{% block styles %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<!-- Carousel Start -->
<div class="container-fluid carousel-header vh-100 px-0">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="{% static 'img/bg.jpg' %}" class="img-fluid" alt="Image">
                <div class="carousel-caption">
                    <div class="p-3" style="max-width: 900px;">
                        <h1 class="text-white text-uppercase fw-bold mb-4">The Society of Awtar Center</h1>
                        <!--<p class="mb-5 fs-5">An independent, non-governmental association, established in September 2009 by a group of Palestinian professionals who were interested in social activities for children and youth in their societies.</p>-->
                        <div class="d-flex align-items-center justify-content-center">
                            <!--<a class="btn-hover-bg btn btn-primary text-white py-3 px-5" href="#">View Our Activities</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->

<!-- About Start -->
<div class="container-fluid about py-5 ">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-xl-5">
                <div class="h-100">
                    <img src="{% static 'img/bg.jpg' %}" class="img-fluid w-100 h-100" alt="Image">
                </div>
            </div>
            <div class="col-xl-7">
                <!--<h5 class="text-uppercase text-primary">About Us</h5>-->
                <div class="tab-class bg-secondary p-4">
                    <ul class="nav d-flex mb-2">
                        <li class="nav-item mb-3">
                            <a class="d-flex py-2 text-center bg-white active" data-bs-toggle="pill" href="#tab-1">
                                <span class="text-dark" style="width: 150px;">About</span>
                            </a>
                        </li>
                        <li class="nav-item mb-3">
                            <a class="d-flex py-2 px-2 text-center bg-white" data-bs-toggle="pill" href="#tab-2">
                                <span class="text-dark" style="width: 150px;">Message</span>
                            </a>
                        </li>
                        <li class="nav-item mb-3">
                            <a class="d-flex py-2 text-center bg-white" data-bs-toggle="pill" href="#tab-3">
                                <span class="text-dark" style="width: 150px;">Vision</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex">
                                        <div class="text-start my-auto">
                                            <h5 class="text-uppercase mb-3">About Us</h5>
                                            <p class="mb-4">{{ about_content.about }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane fade show p-0">
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex">
                                        <div class="text-start my-auto">
                                            <h5 class="text-uppercase mb-3">Our Message</h5>
                                            <p class="mb-4">{{ about_content.message }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-3" class="tab-pane fade show p-0">
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex">
                                        <div class="text-start my-auto">
                                            <h5 class="text-uppercase mb-3">Our Vision</h5>
                                            <p class="mb-4">{{ about_content.vision }}</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Sponsors Start -->
<section class="sponsors-section py-1 mb-0">
    <div class="container">
        <div class="text-center mb-2">
            <p class="lead mb">Our Partners and Supporters</p>
            </div>
        <div class="sponsors-scroll-container">
            <div class="sponsors-scroll">
                {% for sponsor in sponsors %}
                <div class="sponsor-card">
                    <img src="{{ sponsor.logo.url }}" alt="Taawon Organization" class="sponsor-img">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- Sponsors End -->

<!-- Announcements Start -->
<div class="container-fluid announcements py-4 bg-light">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5" style="max-width: 800px;">
            <h5 class="text-uppercase text-primary">Important Announcements</h5>
        </div>
        <div class="row g-4 justify-content-center">
            <!-- Announcement 1 -->
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="announcement-item">
                    <img src="{% static 'img/an-1.jpg' %}" class="img-fluid w-100" alt="Announcement 1">
                    <div class="announcement-link">
                        <a href="#" class="h4 mb-0">A course in the field of documentary media</a>
                    </div>
                </div>
                <p class="my-4">Registration for the Documentary Media course begins on 1/7/2025 and registration ends on 1/10/2025...</p>
            </div>
            <!-- Announcement 2 -->
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="announcement-item">
                    <img src="{% static 'img/announcement2.jpg' %}" class="img-fluid w-100" alt="Announcement 2">
                    <div class="announcement-link">
                        <a href="#" class="h4 mb-0">Winter Club</a>
                    </div>
                </div>
                <p class="my-4">Winter Club Registration Is Open!...</p>
            </div>
            <!-- Read More Button -->
            <div class="col-12">
                <div class="d-flex align-items-center justify-content-center">
                    <a class="btn-hover-bg btn btn-primary text-white py-2 px-4" href="#">View All Announcements</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Announcements End -->

<!-- Activities Start -->
<div class="container-fluid service py-4 bg-light">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5" style="max-width: 800px;">
            <h5 class="text-uppercase text-primary">Engage in Our Diverse Range of Activities</h5>
            <!--<h1 class="mb-0">Engage in Our Diverse Range of Activities</h1>-->
        </div>
        <div class="row g-4 justify-content-start">
            {% for activity in activity_data%}
            <!-- Activity 1: Music Classes -->
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="service-item">
                    <img src="{{ activity.main_media.image.url }}" class="img-fluid w-100" alt={{ activity.activity.title }}>
                    <div class="service-link">
                        <a href="#" class="h4 mb-0">{{ activity.activity.title }}</a>
                    </div>
                </div>
                <p class="my-4 service-des">{{ activity.activity.description }}</p>
            </div>
            {% endfor %}
            <!-- Read More Button -->
            <!--<div class="col-12">-->
            <!--    <div class="d-flex align-items-center justify-content-center">-->
            <!--        <a class="btn-hover-bg btn btn-primary text-white py-2 px-4" href="#">View All Activities</a>-->
            <!--    </div>-->
            <!--</div>-->
        </div>
    </div>
</div>
<!-- Activities End -->

<!-- Events Start -->
<div class="container-fluid event py-4">
    <div class="container py-4">
        <div class="text-center mx-auto mb-5" style="max-width: 800px;">
            <h5 class="text-uppercase text-primary">Upcoming Events</h5>
        </div>
        <div class="event-carousel owl-carousel ">
            <!-- Event 1 -->
            <div class="event-item">
                <img src="{% static 'img/event1.jpg' %}" class="img-fluid w-100" alt="Image">
                <div class="event-content p-4">
                    <div class="d-flex justify-content-between mb-4">
                        <span class="text-body"><i class="fas fa-map-marker-alt me-2"></i>Awtar Center, Nablus.</span>
                        <span class="text-body"><i class="fas fa-calendar-alt me-2"></i>28 Dec, 2024</span>
                    </div>
                    <h4 class="mb-4">People of Determination: Overcoming Challenges and Achieving Empowerment</h4>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectur adip sed eiusmod amet consectur adip sed eiusmod tempor.</p>
                    <a class="btn-hover-bg btn btn-primary text-white py-2 px-4" href="#">Read More</a>
                </div>
            </div>
            <!-- Event 2 -->
            <div class="event-item">
                <img src="{% static 'img/event1.jpg' %}" class="img-fluid w-100" alt="Image">
                <div class="event-content p-4">
                    <div class="d-flex justify-content-between mb-4">
                        <span class="text-body"><i class="fas fa-map-marker-alt me-2"></i>Awtar Center, Nablus.</span>
                        <span class="text-body"><i class="fas fa-calendar-alt me-2"></i>28 Dec, 2024</span>
                    </div>
                    <h4 class="mb-4">People of Determination: Overcoming Challenges and Achieving Empowerment</h4>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectur adip sed eiusmod amet consectur adip sed eiusmod tempor.</p>
                    <a class="btn-hover-bg btn btn-primary text-white py-2 px-4" href="#">Read More</a>
                </div>
            </div>
            <div class="event-item">
                <img src="{% static 'img/event1.jpg' %}" class="img-fluid w-100" alt="Image">
                <div class="event-content p-4">
                    <div class="d-flex justify-content-between mb-4">
                        <span class="text-body"><i class="fas fa-map-marker-alt me-2"></i>Awtar Center, Nablus.</span>
                        <span class="text-body"><i class="fas fa-calendar-alt me-2"></i>28 Dec, 2024</span>
                    </div>
                    <h4 class="mb-4">People of Determination: Overcoming Challenges and Achieving Empowerment</h4>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectur adip sed eiusmod amet consectur adip sed eiusmod tempor.</p>
                    <a class="btn-hover-bg btn btn-primary text-white py-2 px-4" href="#">Read More</a>
                </div>
            </div>
            <div class="event-item">
                <img src="{% static 'img/event1.jpg' %}" class="img-fluid w-100" alt="Image">
                <div class="event-content p-4">
                    <div class="d-flex justify-content-between mb-4">
                        <span class="text-body"><i class="fas fa-map-marker-alt me-2"></i>Awtar Center, Nablus.</span>
                        <span class="text-body"><i class="fas fa-calendar-alt me-2"></i>28 Dec, 2024</span>
                    </div>
                    <h4 class="mb-4">People of Determination: Overcoming Challenges and Achieving Empowerment</h4>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectur adip sed eiusmod amet consectur adip sed eiusmod tempor.</p>
                    <a class="btn-hover-bg btn btn-primary text-white py-2 px-4" href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Events End -->

<!-- Blog Start -->
<div class="container-fluid blog py-3 mb-3">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5" style="max-width: 800px;">
            <h5 class="text-uppercase text-primary">Latest News And Highlights</h5>
        </div>
        <div class="row g-4">
            {% for item in news_data %}
            <!-- News Card 1 -->
            <div class="col-lg-6 col-xl-3">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="{{ item.visit_media.image.url  }}" class="img-fluid w-100" alt="">
                        <div class="blog-info">
                            <span><i class="fa fa-clock"></i> {{ item.visit.visit_date }} </span>
                        </div>
                        <div class="search-icon">
                            <a href="{% static 'img/blog-1.jpg' %}" data-lightbox="Blog-1" class="my-auto"><i class="fas fa-search-plus btn-primary text-white p-3"></i></a>
                        </div>
                    </div>
                    <div class="text-dark border p-4">
                        <h4 class="mb-4">{{ item.visit.title }}</h4>
                        <p class="mb-4">{{ item.visit.description }}</p>
                        <a class="btn-hover-bg btn btn-primary text-white py-2 px-4" href="#">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Blog End -->

<!-- Gallery Start -->
<div class="container-fluid gallery py-3 px-0 mb-0">
    <div class="gallery-grid">
        <!-- Column 1: 2 rows -->
        <div class="gallery-column">
            <div class="gallery-item">
                <img src="{% static 'img/gallery-2.jpg' %}" class="img-fluid w-100" alt="">
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/gallery-3.jpg' %}" class="img-fluid w-100" alt="">
            </div>
        </div>
        <!-- Column 2: 1 row -->
        <div class="gallery-column">
            <div class="gallery-item">
                <img src="{% static 'img/gallery-1.jpg' %}" class="img-fluid w-100" alt="">
            </div>
        </div>
        <!-- Column 3: 2 rows -->
        <div class="gallery-column">
            <div class="gallery-item">
                <img src="{% static 'img/gallery-4.jpg' %}" class="img-fluid w-100" alt="">
            </div>
            <div class="gallery-item">
                <img src="{% static 'img/gallery-5.jpg' %}" class="img-fluid w-100" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Gallery End -->
{% endblock %}